.car-card .card-title-wrapper {
    padding: 1px 5px 1px 5px;
    background-color: rgba(0, 0, 0, 0.6);
}

.card {
    height: 380px;
}

.card-image {
    height: 200px;
}
.in-maintenance .card {
    background-color: grey;
    color: white;
}

.error-msg {
    color: red;
}